.calculationsCont {
    padding: 10px;
    display: flex;
    align-items: center;
}

.calculationsText {
    font-size: 20px;
    display: inline-block;
    /* margin-right: 12px; */
}

.calculationsResult {
    color: darkgreen;
    margin-left: 6px;
}

.functionText {
    color: darkgreen;
}
